@page
@model SK10_RIRSU.Pages.IzpisUrModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Opravljene ure</title>
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css">
</head>
<body>
   <h1>Opravljene ure na delovnem mestu</h1>

    @if (Model.OpravljeneUre != null && Model.OpravljeneUre.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Čas prihoda</th>
                    <th>Čas odhoda</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vnosUr in Model.OpravljeneUre)
                {
                    <tr>
                        <td>@vnosUr.Datum.ToShortDateString()</td>
                        <td>@vnosUr.CasPrihoda.ToShortTimeString()</td>
                        <td>@vnosUr.CasOdhoda.ToShortTimeString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Ni opravljenih ur za prikaz.</p>
    }
</body>
</html>