@page
@model SK10_RIRSU.Pages.VnosModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Moj Koledar</title>
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css">
</head>
<body>
    <div id="calendar"></div>

    <script src="~/js/calendar.js"></script>
</body>
</html>